#app {
  display: grid;
  height: 300px;
  grid-template-areas:
  'area1 area1 area1'
  'nav main ads'
  'nav main1 ads'
  'foot foot foot'
  ;
}

#header, #footer {
  background-color: #9BCE1D;
}

#header {
  grid-area: area1;
  
}

#footer {
  grid-area: foot;
}

#main {
  background-color: #F7F5D8;
}

#article-1 {
  background-color: lightcoral;
  grid-area: main;
}

#article-2 {
  background-color: violet;
  grid-area: main1;
}

#nav {
  background-color: cornflowerblue;
  grid-area: nav;
}

#thing {
  background-color: black;
  grid-area: ads;
}
